#3d-view-container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 100%;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#3d-view {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
}

/* Spacing after the header and before the footer */
body > header {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}
