{% extends 'orrery/base.html' %}

{% block title %}3D Orrery View{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin-top: 2rem;">3D Orrery View</h2>
    <div id="3d-view-container">
        <div id="3d-view"></div>
    </div>
{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'orrery/3d_view.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="{% static 'orrery/3d_view.js' %}"></script>
{% endblock %}
