<!-- templates/orrery/all_contributions.html -->
{% extends 'orrery/base.html' %}

{% block content %}
<div class="contributions-container">
    <h2>All Contributions</h2>

    <!-- Search Functionality -->
    <div class="search-filter-container">
        <input type="text" id="searchInput" placeholder="Search by title..." class="form-control" />
    </div>

    <div class="contributions-grid">
        {% for contribution in contributions %}
        <div class="contribution-tile">
            <!-- Display status badge -->
            <div class="status-badge {{ contribution.status|lower }}">
                {{ contribution.status }}
            </div>
            <a href="{% url 'blog_detail' contribution.pk %}">
                {% if contribution.thumbnail %}
                    <img src="{{ contribution.thumbnail.url }}" alt="Thumbnail" class="thumbnail" />
                {% endif %}
                <h4>{{ contribution.title }}</h4> <!-- Display the title here -->
                <p><strong>Submitted by:</strong> {{ contribution.author.username }}</p>
                <p><strong>Submitted on:</strong> {{ contribution.time_of_submission|date:"F j, Y, g:i a" }}</p>
            </a>
        </div>
        {% empty %}
        <p>No contributions found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
