<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NeoOrrery{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'orrery/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <div class="header">
                <div class="user">
                    {% if user.is_authenticated %}
                        <img src="{{ user.profile_picture.url }}" alt="User Profile Picture">
                        <div>
                            <h4>{{ user.first_name }}</h4>
                            <p>Admin</p>
                            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; <span id="currentYear"></span> Team Radiant. All Rights Reserved.</p>
        </footer>
    </div>

    <script src="{% static 'orrery/scripts.js' %}"></script>
    <script>
        document.getElementById('currentYear').textContent = new Date().getFullYear();
    </script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
