{% extends 'orrery/base.html' %}

{% block title %}Planet Detail - {{ body.name }}{% endblock %}

{% block content %}
    <div class="detail-container">
        <h2>Planet: {{ body.name }}</h2>
        <p><strong>Size:</strong> {{ body.size|default:"N/A" }} meters</p>
        <p><strong>Distance from Earth:</strong> {{ body.distance|default:"N/A" }} km</p>
        <p><strong>Semi-Major Axis:</strong> {{ body.semi_major_axis|default:"N/A" }} AU</p>
        <p><strong>Eccentricity:</strong> {{ body.eccentricity|default:"N/A" }}</p>
        <p><strong>Inclination:</strong> {{ body.inclination|default:"N/A" }} degrees</p>
        <p><strong>Argument of Periapsis:</strong> {{ body.argument_of_periapsis|default:"N/A" }} degrees</p>
        <p><strong>Longitude of Ascending Node:</strong> {{ body.longitude_of_ascending_node|default:"N/A" }} degrees</p>
        <p><strong>Mean Anomaly:</strong> {{ body.mean_anomaly|default:"N/A" }} degrees</p>
        <p><strong>Last Updated:</strong> {{ body.last_updated|date:"Y-m-d" }}</p>
    </div>
{% endblock %}
