{% extends 'orrery/base.html' %}

{% block title %}Profile - NeoOrrery{% endblock %}

{% block content %}
    <div class="profile-page container mt-4">
        <h2>My Profile</h2>

        <!-- Display the profile picture, use a default picture if none is uploaded -->
        <div class="profile-picture mb-3">
            {% if user.userprofile.profile_picture %}
                <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" style="max-width: 150px; max-height: 150px;">
            {% else %}
                <img src="{{ STATIC_URL }}img/default.jpg" alt="Default Profile Picture" class="img-thumbnail" style="max-width: 150px; max-height: 150px;">
            {% endif %}
        </div>

        <!-- Display user details -->
        <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>

        <!-- Display Real-Time and Critical Close Approaches Distance -->
        <p><strong>Real-Time Close Approaches Distance (KM):</strong> {{ user.userprofile.real_time_distance }}</p>
        <p><strong>Critical Close Approaches Distance (KM):</strong> {{ user.userprofile.critical_distance }}</p>

        <!-- Subscription Status -->
        <p><strong>Close Approaches Alert Subscription:</strong>
            {% if user.userprofile.is_opted_in %}
                <span class="badge bg-success">Subscribed</span>
            {% else %}
                <span class="badge bg-danger">Not Subscribed</span>
            {% endif %}
        </p>

        <!-- Link to toggle subscription -->
        <a href="{% url 'toggle_alert_subscription' %}" class="btn btn-warning mb-3">
            {% if user.userprofile.is_opted_in %}
                Unsubscribe from Alerts
            {% else %}
                Subscribe to Alerts
            {% endif %}
        </a>

        <!-- Edit profile button -->
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
    </div>
{% endblock %}
